@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
}

.max-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
/* Remove the @layer utilities directive */
.btn_white {
  border-color: white;
  background-color: white;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #34d399;
}
.btn_white_text {
  border-color: white;
  background-color: white;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #34d399;
}
.btn_green {
  border: 1px solid #34d399;
  background-color: #34d399;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}
.btn_dark_green {
  background-color: #34d399;
  padding: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  transition: all;
}

.btn_dark_green:hover {
  /* background-color: black; */
  border: 1px dashed black; /* Change to dashed */
}
.btn_dark_green_outline {
  border-color: gray-20;
  background-color: green-90;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}

.max-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.text-balance {
  text-wrap: balance;
}

.max-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.padding-container {
  padding-left: 6px;
  padding-right: 20px;
  @media (min-width: 1280px) {
    padding-right: 0;
  }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* FONTS */
.regular-64 {
  font-size: 64px;
  font-weight: 400;
  line-height: 120%;
}

.regular-40 {
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
}

.regular-32 {
  font-size: 32px;
  font-weight: 400;
  
}

.regular-24 {
  font-size: 24px;
  font-weight: 400;
}

.regular-20 {
  font-size: 20px;
  font-weight: 400;
}

.regular-18 {
  font-size: 18px;
  font-weight: 400;

}

.regular-16 {
  font-size: 16px;
  font-weight: 400;
}

.regular-14 {
  font-size: 14px;
  font-weight: 400;
}

.medium-14 {
  font-size: 14px;
  font-weight: 600;
}

.bold-88 {
  font-size: 88px;
  font-weight: 700;
  line-height: 120%;
}

.bold-64 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
}

.bold-52 {
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
}

.bold-40 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.bold-32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.bold-20 {
  font-size: 20px;
  font-weight: 700;
}

.bold-18 {
  font-size: 18px;
  font-weight: 700;
    letter-spacing: 1.5px; /* Adjust as needed */

}

.bold-16 {
  font-size: 16px;
  font-weight: 700;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */
  overflow: auto; /* Fallback for other browsers */
}
